@font-face {
  font-family: "Latha";
  font-weight: 700;
  font-style: normal;
  src: url('https://ws-downloads.files.bbci.co.uk/fonts/Latha/latest/bold.woff') format('woff'), url('https://ws-downloads.files.bbci.co.uk/fonts/Latha/latest/bold.eot') format('eot'), url('https://ws-downloads.files.bbci.co.uk/fonts/Latha/latest/bold.ttf') format('ttf');
  font-display: swap;
}

@font-face {
  font-family: "Latha";
  font-weight: 400;
  font-style: normal;
  src: url('https://ws-downloads.files.bbci.co.uk/fonts/Latha/latest/normal.woff') format('woff'), url('https://ws-downloads.files.bbci.co.uk/fonts/Latha/latest/normal.eot') format('eot'), url('https://ws-downloads.files.bbci.co.uk/fonts/Latha/latest/normal.ttf') format('ttf');
  font-display: swap;
}

body {
  font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
}

/** H1 canon **/
.Theme-Layer-TextBlock-Inner .Theme-StoryTitle {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 26px!important;
    line-height: 36px!important;
}

/** Stand first trafalgar **/
.Theme-Layer-TextBlock-Inner .Theme-LeadIn {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 18px!important;
    line-height: 26px!important;
}

/** H2 trafalgar **/
.Theme-Layer-BodyText-Heading-Large {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 18px!important;
    line-height: 26px!important;
}

/** H3 paragon **/
.Theme-Layer-BodyText-Heading-Small {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 18px!important;
    line-height: 26px!important;
}

/** H4 double-pica **/
.Theme-Layer-BodyText-Heading-xs {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 16px!important;
    line-height: 24px!important;
}

/** body copy **/
.Theme-Layer-BodyText p, .Theme-Story p {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 14px!important;
    line-height: 24px!important;
}

/** Bullets body copy **/
.Theme-Layer-BodyText-ListItem {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 13px!important;
    line-height: 22px!important;
}

/** Quotes paragon **/
.Theme-Layer-BodyText-Blockquote {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 18px!important;
    line-height: 26px!important;
}

/** Quote Source pica **/
.Theme-Layer-BodyText-QuoteCite {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 11px!important;
    line-height: 18px!important;
}

/** text over media 1 Imperial **/
.Theme-Layer-TextBlock-Inner .Theme-Title {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 64px!important;
    line-height: 72px!important;
}

/** text over media 2 Royal **/
.Theme-Layer-TextBlock-Inner .Theme-SubTitle {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 52px!important;
    line-height: 60px!important;
}

/** text over media 3 Foolscap **/
.Theme-Layer-TextBlock-Inner .Theme-Text {
    font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
    font-size: 40px!important;
    line-height: 44px!important;
}



/** 620+ **/
@media (min-width: 620px){

    /** H1 canon **/
    .Theme-Layer-TextBlock-Inner .Theme-StoryTitle {
        font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
        font-size: 34px!important;
        line-height: 46px!important;
    }

    /** Stand first trafalgar **/
    .Theme-Layer-TextBlock-Inner .Theme-LeadIn {
        font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
        font-size: 22px!important;
        line-height: 30px!important;
    }

    /** H2 trafalgar **/
    .Theme-Layer-BodyText-Heading-Large {
        font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
        font-size: 22px!important;
        line-height: 30px!important;
    }

    /** H4 double-pica **/
    .Theme-Layer-BodyText-Heading-xs {
        font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
        font-size: 18px!important;
        line-height: 26px!important;
    }

    /** body copy **/
    .Theme-Layer-BodyText p, .Theme-Story p {
        font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
        font-size: 14px!important;
        line-height: 24px!important;
        font-style: normal;
    }

    /** Bullets body copy **/
    .Theme-Layer-BodyText-ListItem {
        font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
        font-size: 14px!important;
        line-height: 24px!important;
    }

    /** Quote Source pica **/
    .Theme-Layer-BodyText-QuoteCite {
        font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
        font-size: 12px!important;
        line-height: 18px!important;
    }

    /** text over media 1 Imperial **/
    .Theme-Layer-TextBlock-Inner .Theme-Title {
        font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
        font-size: 96px!important;
        line-height: 10px!important4;
    }

    /** text over media 2 Royal **/
    .Theme-Layer-TextBlock-Inner .Theme-SubTitle {
        font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
        font-size: 76px!important;
        line-height: 84px!important;
    }

    /** text over media 3 Foolscap **/
    .Theme-Layer-TextBlock-Inner .Theme-Text {
        font-family: Latha, Helmet, Freesans, Helvetica, Arial, sans-serif;
        font-size: 56px!important;
        line-height: 60px!important;
    }

}
